body, h1, h2, h3, h4, p, ul, ol[class], li, figure, figcaption, blockquote, dl, dd, html {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    -webkit-text-size-adjust: 100%;
    background-color: #335;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: 'Arial';
    font-style: normal;
    color: #fff;
    transition: 1s;
}
* {
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    background-color: #0007;
    overflow: hidden;
    padding: 1%;
}

.dFlex {
    display: flex;
    justify-content: space-between;
}
div {
    width: 100px;
    height: 100px;
    /* background-color: white; */
    /* border: 1px solid black; */
}
main {
    margin: 250px 0;
}

.mainBlock {
    width: 600px;
    margin: auto;
}
.time {
    font-size: 100px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    width: 400px;
}
.date {
    margin: auto;
    width: 300px;
    text-align: center;
    font-size: 24px;
    height: 30px;
}
.welcome {
    padding-right: 10px;
    width: 300px;
    text-align: right;
    font-size: 36px;
    height: 50px;
}
.welcomeBlock {
    justify-content: center;
    width: 600px;
    margin: auto;
    height: 50px;
}
.welcomeName {
    width: 200px;
    height: 50px;
}
.welcomeInput {
    background: none;
    border: none;
    color: #fff;
    font-size: 36px;
}
.welcomeInput:focus {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
}
.arrow {
    background-color: orange;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.settings {
    background-color: yellow;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 17px;
    text-align: center;
    align-items: center;
    transition: 0.3s;
}
.settings:hover {
    cursor: pointer;
    background-color: black;
    color: yellow;
}
.linksBlock {
    text-align: center;
    padding-top: 12px;
    width: 100px;
    height: 45px;
    border-radius: 10px;
    background-color: yellow;
    transition: 0.3s;
}
.linksBlock:hover {
    background-color: #000;
    cursor: pointer;
}
.linksBlock:hover > .linksA {
    color: yellow;
}
.linksA {
    color: #000;
    font-size: 20px;
    text-decoration: none;
}
